.one {
  background-image: url("https://static.namava.ir/Content/Upload/Images/7fa7202a-1eee-4627-b738-d423ce0e8cbd.jpg?anchor=middlecenter&crop=auto&scale=both&w=1920&h=900");
  background-repeat: no-repeat;
  height: 500px;

}
.two {
  width: 100%;
  background-image: url("https://static.namava.ir/Content/Upload/Images/65335845-80bf-47d3-a3cf-60c8b994974f.jpg?anchor=middlecenter&crop=auto&scale=both&w=1920&h=900");
}
.three {
  background-image: url("https://static.namava.ir/Content/Upload/Images/be89fc06-eb91-4bed-b7ae-f64073a9276e.jpg?anchor=middlecenter&crop=auto&scale=both&w=1920&h=900");
}
.four {
  background-image: url("https://static.namava.ir/Content/Upload/Images/f606eec7-816b-470d-9f83-31e9d5127de2.jpg?anchor=middlecenter&crop=auto&scale=both&w=1920&h=900");
}

.public {
  height: 700px;
  /* width: 100%;  */
}
